<form class="AddPizzaTemplate" >
    <table>
        <tr>
            <td><label for="pname">Name</label></td>
            <td><input [(ngModel)]="pizza.name" id="pname" type="text" minlength="3" maxlength="16" placeholder="Name" name="pname"/></td>
        </tr>
        <tr>
            <td><label for="price">Price</label></td>
            <td><input [(ngModel)]="pizza.price" id="price" type="number" placeholder="Price" name="price"/></td>
        </tr>
        <tr>
            <td><label for="category">Category</label></td>
            <td><input [(ngModel)]="pizza.category" id="category" type="text" placeholder="Category" name="category"/></td>
        </tr>
        <tr>
            <td colspan="2"><button (click)="AddPizza()" type="submit" class="btnAdd">Add</button></td>
        </tr>
    </table>
</form>

<div class="text-center">
    <a href="/menu">Back to List</a>
</div>