﻿
<input id="ID" value="show graph" type="button" />
<br />

<div style="max-width:700px;max-height:550px" id="myChart">
    @*<canvas id="myChart"></canvas>*@
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script type="text/javascript">
    $( function (){
        $("#ID").click(function () {
            $.ajax({
                type: "GET",
                url: "/Sale/GetSalesData",
                data: "",
                contextType: "application/json; charsetutf-8",
                dataType: "json",
                success: OnSuccess,
                error: OnError
            });

            function OnSuccess(data) {
                var options = {
                    series: [{
                        name: "Sales",
                        data: data[1]
                    }],
                    chart: {
                        height: 350,
                        type: 'line',
                        zoom: {
                            enabled: false
                        }
                    },
                    dataLabels: {
                        enabled: false
                    },
                    stroke: {
                        curve: 'straight'
                    },
                    title: {
                        text: 'Sales revenue in 2022',
                        align: 'center'
                    },
                    grid: {
                        row: {
                            colors: ['#f3f3f3', 'transparent'], // takes an array which will be repeated on columns
                            opacity: 0.5
                        },
                    },
                    xaxis: {
                        categories: data[0],
                    }
                };

                var chart = new ApexCharts(document.querySelector("#myChart"), options);
                chart.render();
            }
            function OnError(err) {
                console.error(err);
            }
        });
    });
</script>