﻿
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<select class="graphStyle">
    <option value="bar">bar</option>
    <option value="line">line</option>
    <option value="pie">pie</option>
    <option value="doughnut">doughnut</option>
</select>
<input class="btnToShow" value="show graph" type="button"/>
<br/>

<div style="max-width:700px;max-height:550px" class="myChart">
    
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script type="text/javascript">
    $(function(){
        $(".btnToShow").click(function () {
            $(".myChart").empty();
            $(".myChart").append("<canvas id='myChart'></canvas>");
            $.ajax({
                type:"GET",
                url:"/Sale/GetSalesData",
                data: "",
                contextType:"application/json; charsetutf-8",
                dataType:"json",
                success: OnSuccessResult,
                error: OnError
            });

            function OnSuccessResult(data)
            {
                console.log(data);
                var chartLabels = data[0];
                var chartData = data[1];
                var barColor = [
                    'rgba(255, 99, 132, 0.5)',
                    'rgba(54,162,235,0.5)',
                    'rgba(255,206,86,0.5)',
                    'rgba(75,192,192,0.5)',
                    'rgba(153, 102, 255, 0.5)',
                    'rgba(144, 102, 64, 0.5)'
                ];
                var barBorderColor =[
                    'rgba(255, 99, 132, 1)',
                    'rgba(54,162,235,1)',
                    'rgba(255,206,86,1)',
                    'rgba(75,192,192,1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(144, 102, 64, 1)'
                ];

                var myChartNode = $("#myChart");
                new Chart(myChartNode, {
                    type: $(".graphStyle").val(),
                    data:{
                        label:"Sales Data",
                        labels: chartLabels,
                        datasets: [{
                            backgroundColor: barColor,
                            borderColor: barBorderColor,
                            data: chartData
                        }]
                    }
                });
                console.log("success");
            }
            function OnError(err)
            {
                console.log(err);
                console.error("error");
            }
        });
    });
</script>
