﻿@model DotNet.Highcharts.Highcharts

@{
    ViewBag.Title = "Highcharts Examples";
}
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<div class="jumbotron">
    <h3>ShowSalesDataHighChart() - DotNet Highcharts Example in Asp.Net MVC</h3>
    <p><a href="http://dotnet.highcharts.com/" class="btn btn-primary btn-lg">Learn more »</a></p>
</div>

<div class="row">
    <div>

        <div class="col-md-12 col-md-6">
            @(Model)
        </div>
    </div>
</div>  