<div class="navbar">
    <span>PizzaApp</span>
    <div class="btns">
        <button class="btnRegister" routerLink="register">Register</button>
        <button class="btnLogin" routerLink="login">Login</button>
        <button class="btnLogout" routerLink="logout">Logout</button>
    </div>
</div>