.navbar
{
    background-color: #8d7906;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.navbar span
{
    color: white;
    font-size: 24px;
}
.navbar div.btns
{
    margin-left: auto;
}
.btns button
{
    margin-right: 5px;
    background-color: white;
    color: #817021;
    padding: 7px;
    border-radius: 5px;
    border: 1px solid white;
    font-size: 18px;
}
.btns button:hover
{
    cursor: pointer;
}