﻿@{
    Layout = null;
}
<html>
<body>
    <div class="content-container">

        <style>
            .from_to {
                display: flex;
                margin: 28px 0px 28px 0px;
                justify-content: space-between;
            }

            div#content {
                width: fit-content;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }

            .content-container {
                height: 100%;
                width: 100%;
                font-family: sans-serif;
                display: flex;
                justify-content: space-around;
                align-items: flex-start;
            }

            .products {
                border-spacing: 0px;
            }

            .invoiceNumber {
                margin-bottom: 8px;
                font-size: 19px;
            }

            .table-container {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .from div, .to div {
                margin-bottom: 3px;
            }

            .emptied {
                border-left: none;
                border-bottom: none;
                border-top: none;
            }

            tr th, tr td {
                border: 1px solid;
            }

            .products td, .products th {
                padding: 10px 8px 10px 8px;
            }

            .nama {
                font-size: 19px;
            }

            .from div:first-child, .to div:first-child {
                margin-bottom: 10px;
            }

            .partA {
                border: 1px solid #f3f2f2;
                padding: 20px;
            }

            .partB {
                border: 1px solid #f3f2f2;
                padding: 20px;
            }

            button#btnGeneratePDFAndSendMail {
                background-color: white;
                color: #076207;
                border: 1px solid #076207;
                font-size: 18px;
                border-radius: 15px;
                padding: 7px;
            }

            .btn-container {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            #btnGeneratePDFAndSendMail:hover {
                cursor: pointer;
                background-color: #076207;
                color: white;
                transition: 0.3s;
            }
        </style>

        <div id="content">
            <div class="partA">
                <div class="invoiceNumber"><strong>CORB-2022/12-889</strong></div>
                <div class="dateOfInvoice">Date: 20 Dec, 2022</div>
            </div>
            <div class="partB">
                <div class="from_to">
                    <div class="from">
                        <div>From:</div>
                        <div class="nama"><strong>Team Corbet</strong></div>
                        <div>Rabale,New Mumbai 110034</div>
                        <div>Email: teamcorbet123@gmail.com</div>
                        <div>Phone: +91 9897 989 989</div>
                    </div>
                    <div class="to">
                        <div>To:</div>
                        <div class="nama"><strong>Tejas Pawar</strong></div>
                        <div>Famous Studio, Mahalaxmi 400011</div>
                        <div>Email: tejas@gmail.com</div>
                        <div>Phone: +91 9897 777 888</div>
                    </div>
                </div>
                <div class="table-container">
                    <table class="products">
                        <thead>
                            <tr>
                                <th>Sr. No.</th>
                                <th>Order Code</th>
                                <th>Unit Price</th>
                                <th>Quantity</th>
                                <th>Tax</th>
                                <th>Total Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>ORD-789</td>
                                <td style="text-align: right;">322.00</td>
                                <td style="text-align: center;">12</td>
                                <td style="text-align: center;">C/S GST 10%</td>
                                <td style="text-align: right;">8999.00</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>ORD-790</td>
                                <td style="text-align: right;">3352.00</td>
                                <td style="text-align: center;">14</td>
                                <td style="text-align: center;">C/S GST 10%</td>
                                <td style="text-align: right;">5999.00</td>
                            </tr>
                            <tr>
                                <td colspan="4" class="emptied"></td>
                                <td style="text-align: right;"><b>SubTotal:</b></td>
                                <td style="text-align: right;">49028.00</td>
                            </tr>
                            <tr>
                                <td colspan="4" class="emptied"></td>
                                <td style="text-align: right;"><b>CGST(10%):</b></td>
                                <td style="text-align: right;">49022.00</td>
                            </tr>
                            <tr>
                                <td colspan="4" class="emptied"></td>
                                <td style="text-align: right;"><b>SGST(10%):</b></td>
                                <td style="text-align: right;">49023.00</td>
                            </tr>
                            <tr>
                                <td colspan="4" class="emptied"></td>
                                <td style="text-align: right;"><b>Total</b></td>
                                <td style="text-align: right;">79028.00</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="btn-container">
        <button class="btn" id="btnGeneratePDFAndSendMail">Generate PDF and Send Mail</button>
    </div>

</body>

</html>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $("#btnGeneratePDFAndSendMail").click(function () {
        console.log("You clicked btnGeneratePDFAndSendMail!!!");
        var htmlData = $(".content-container").html();
        console.log("1/n" + htmlData);
        htmlData = htmlData.replace(/</g, "StartTag").replace(/>/g, "EngTag");
        console.log("2/n" + htmlData);
        //window.location = window.location.origin + "/Invoice/GeneratePdfAndSendOnMail?html=" + htmlData;
        let URL = "/GInvoice/GeneratePdfAndSendOnMail";
        $.ajax({
            url: URL,
            type: 'POST',
            dataType: 'json',
            data: { html: htmlData },
            success: function (d) {
                console.log(d);
                //window.location.reload();
            },
            error: function () {
                console.error("Error!!!");
            }
        });
    });
</script>