﻿@model string
<div>
    <div class="form-group">
        
        <div class="custom-file">
            <input asp-for="@Model" type="file" name="@Model" class="custom-file-input" id="FL" accept="image/*,.pdf,.csv" onchange="return fileValidation();" style="display: none" />
           
             <span data-toggle="tooltip" data-placement="right" title="Only (jpg,jpeg,png,csv,pdf) files up to 1MB allowed."><span id="btnSubmit" class="btn btn-info border border-dark ">Select File</span></span>
           <span> <button type="submit" id="btnUpload" class="btn btn-outline-secondary mx-2" disabled>Upload</button></span>
            <div class="mt-2" id="spnFilePath"></div>
            <p id ="spnFileName" class="text-danger"></p>
        </div>
       


        <div class="row mb-2">
            <div class="col-md-9"> @Html.ActionLink($"{@ViewData["File"]}", "DownloadFile", new { fileName = @ViewData["FileUploadName"] }, new {style="text-decoration:none;"})</div>
            <div class="col-md-3">
                @if (@ViewData["FileUploadName"] != null)
                {
                    <a href="@Url.Action("Delete",  new { fileName = @ViewData["FileUploadName"] })">
                        <span><i class="btn btn-danger fa fa-trash"></i></span>
                    </a>
                }
            </div>
        </div>

        <input type="hidden" id="FileEx" value="@ViewBag.AllowedEx">
         <input type="hidden" id="FileSize" value="@ViewBag.Size">
          <input type="hidden" id="FileNotAllowedMess" value="@ViewBag.FileErrMess">
           <input type="hidden" id="FileSizeMessage" value="@ViewBag.SizeErrMess">

        
 </div>
 </div>


<script src="~/scripts/fileUpload.js" type="text/javascript" on-content-loaded="true" asp-append-version="true"></script>