﻿@model IEnumerable<VideoWebApp1.Models.Video>

@{
    ViewData["Title"] = "Index";
}
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div>
    @using(Html.BeginForm("Index", "Video", FormMethod.Post, new {enctype = "multipart/form-data"}))
    {
        @Html.TextBox("VideoFile", "", new{type="file"})
        @*<input type="file" name="videoFile"/>*@

        <br />

        <br />
        <input type="submit" value="Upload Video Files"/>
    }
</div>

@foreach(var item in Model)
{
    <div>
        <p>@item.VideoId</p>
        <p>@item.VideoName</p>
        <p>@item.VideoPath</p>
        <video style="height:150px; width:250px;" controls>
            @*<source src="@item.VideoPath" type="video/mp4"/>*@
                <source src="http://techslides.com/demos/sample-videos/small.3gp" type="video/3gpp">
        </video>
    </div>
}
</body>
</html>