<p>generate-bill works!</p>
<h3 class="titleGB">Generate Bill</h3><br>
<div class="cartContainer">
    <table class="pizzaHolder">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Category</th>
            <th>Currently Logged In User</th>
        </tr>
        <tr *ngFor="let item of cartPizzas">
            <td>{{item.id}}</td>
            <td>{{item.name}}</td>
            <td>{{item.price}} &#8377;</td>
            <td>{{item.quantity}}</td>
            <td>{{item.category}}</td>
            <td>{{item.email}}</td>
        </tr>

    </table>
</div>
<br>
<div>
    <p>Total Bill Amount is: {{sumPrice}} &#8377;</p>
</div>
<br>
<div>
    <button (click)="PlaceOrder()" *ngIf="sumPrice > 0">Place Order</button>
</div>
<br>
<div class="gotoViewCart">
    <a href="/menu/view-cart">Back to List</a>
</div>