﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <form method="post" asp-controller="Home" asp-action="PDF">
        <label>&nbsp;</label>
        <input type="submit" value="Generate PDF"/>
    </form>
</div>
