﻿@model WebAPP.Models.RegisterModel

<style>
    tr td:first-child {
        text-align: end;
    }

    td:nth-child(2) {
        padding: 9px 21px 9px 21px;
    }

    td span {
        color: red;
    }

    td:nth-child(4) {
        padding-left: 50px;
    }
</style>

<script>
    window.onload = function () {
        //Reference the DropDownList.
        var yearsNode = document.getElementById("years");
        var monthsNode = document.getElementById("months");
        ////Determine the Current Year.
        //var currentYear = (new Date()).getFullYear();
        ////Loop and add the Year values to DropDownList.
        //var startingYear = 1965;

        //for years and months
        for (var i = 0; i <= 25; i++) {
            if (i < 12) {
                let option = document.createElement("option");
                option.innerHTML = i;
                option.value = i;
                monthsNode.appendChild(option);
            }
            var option = document.createElement("option");
            option.innerHTML = i;
            option.value = i;
            yearsNode.appendChild(option);
        }
        var lakhsNode = document.getElementById("lakhs");
        var thousandsNode = document.getElementById("thousands");
        //for lakhs and thousands
        for (var i = 0; i <= 99; i++) {
            if (i < 16) {
                var option = document.createElement("option");
                option.innerHTML = i;
                option.value = i;
                lakhsNode.appendChild(option);
            }
            var option = document.createElement("option");
            option.innerHTML = i;
            option.value = i;
            thousandsNode.appendChild(option);
        }
    };

    function getMultipleValues() {
        let lookingForOptions = [];
        for (let option of document.getElementById("lookingFor").options) {
            if (option.selected) {
                lookingForOptions.push(option.value);
            }
        }
        let lookingFor = lookingForOptions.toString();
        $.ajax({
            url: "/Form/GetterAndSetter",
            type: "get",
            dataType: "json",
            data: { lookingForValues: lookingFor }
        });
    }

    function OnCountrySelection(val) {
        // Ajax Calls
        var countryId = val;
        $.ajax({
            type: "get",
            url: "/Form/GetStates?id=" + countryId,
            contentType: "html",
            success: function (d) {
                //console.log(d)
                $("#state").empty();
                $("#state").append($("<option></option>").val("0").html("-State-"));
                $.each(d, function (i, state) {
                    $("#state").append($("<option></option>").val(state.id).html(state.state1));
                });
            },
            error: function () {
                console.log('Error!');
            }
        });
    }

    function OnStateSelection(val) {
        // Ajax Calls
        var stateId = val;
        $.ajax({
            type: "get",
            url: "/Form/GetCities?id=" + stateId,
            contentType: "html",
            success: function (d) {
                //console.log(d)
                $("#city").empty();
                $("#city").append($("<option></option>").val("0").html("-City-"));
                $.each(d, function (i, city) {
                    $("#city").append($("<option></option>").val(city.id).html(city.city1));
                });
            },
            error: function () {
                console.log('Error!');
            }
        });
    }

    function OnCitySelection(val) {
        // Ajax Calls
        var cityId = val;
        $.ajax({
            type: "get",
            url: "/Form/GetLocalities?id=" + cityId,
            contentType: "html",
            success: function (d) {
                //console.log(d)
                $("#locality").empty();
                $("#locality").append($("<option></option>").val("0").html("-Locality-"));
                $.each(d, function (i, locality) {
                    $("#locality").append($("<option></option>").val(locality.id).html(locality.locality1));
                });
            },
            error: function () {
                console.log('Error!');
            }
        });
    }

    function OnHighestQualificationSelection(val)
    {
        var highestQualificationId = val;
        $.ajax({
            type: "get",
            url: "/Form/GetSpecializations?id=" + highestQualificationId,
            contentType: "html",
            success: function (d) {
                //console.log(d)
                $("#specialization").empty();
                $("#specialization").append($("<option></option>").val("0").html("-Select Specialization-"));
                $.each(d, function (i, specialization) {
                    $("#specialization").append($("<option></option>").val(specialization.id).html(specialization.specialization1));
                });
            },
            error: function () {
                console.log('Error!');
            }
        });
    }

    function uploadFile() {
        var formData = new FormData();
        formData.append('theFile', $('#myFile')[0].files[0]); // myFile is the input type="file" control
        formData.append("username", "Abhishek");

        //var email = $("#emailAddress").val();
        var _url = '@Url.Action("UploadFile", "Form")';

        console.log($('#myFile')[0].files[0].name);
        console.log($('#myFile')[0].files[0]);
        console.log(formData);

        $.ajax({
            url: _url,
            data: formData,
            processData: false,
            contentType: false,
            type: "POST",
            success: function (data) {
                //alert("File Uploaded Successfully!");
                //$(".uploadStatus").css("color", "green");
                //$(".uploadStatus").html("Successfully Uploaded!");
            },
            error: function (err) {
                alert(err.statusText);
                //$(".uploadStatus").css("color", "red");
                //$(".uploadStatus").html("Error Occured!");
            }
        });
    }

    function SendSomeValuesToControllerManually()
    {
        getMultipleValues();
        uploadFile();
    }

</script>

<form method="post" asp-action="PostDetails" onsubmit="SendSomeValuesToControllerManually()">
    <table>
        <tbody class="loginDetails">
            <tr>
                <td><label asp-for="loginDetails.EmailAddress">Email Address</label></td>
                <td> : </td>
                <td><input asp-for="loginDetails.EmailAddress" id="emailAddress"></td>
                <td><span asp-validation-for="loginDetails.EmailAddress"></span></td>
            </tr>
            <tr>
                <td><label asp-for="loginDetails.AlternateEmailId">Alternate Email Id</label></td>
                <td> : </td>
                <td><input asp-for="loginDetails.AlternateEmailId" id="altEmail"></td>
                <td><span asp-validation-for="loginDetails.AlternateEmailId"></span></td>
            </tr>
            <tr>
                <td><label asp-for="loginDetails.FirstName">First Name</label></td>
                <td> : </td>
                <td><input type="text" asp-for="loginDetails.FirstName" id="fname"></td>
                <td><span asp-validation-for="loginDetails.FirstName"></span></td>
            </tr>
            <tr>
                <td><label asp-for="loginDetails.LastName">Last Name</label></td>
                <td> : </td>
                <td><input asp-for="loginDetails.LastName" id="lname"></td>
                <td><span asp-validation-for="loginDetails.LastName"></span></td>
            </tr>
            <tr>
                <td><label asp-for="loginDetails.Password">Choose a Password</label></td>
                <td> : </td>
                <td><input asp-for="loginDetails.Password" id="pwd"></td>
                <td><span asp-validation-for="loginDetails.Password"></span></td>
            </tr>
            <tr>
                <td><label for="confirm-pwd">Re-enter Password</label></td>
                <td> : </td>
                <td><input type="text" id="confirm-pwd"></td>
                <td><span id="errorForConfirmPassword"></span></td>
            </tr>
            <tr>
                <td><label>Looking For</label></td>
                <td> : </td>
                <td>
                    <select id="lookingFor" multiple>
                        <option value="0">-Select Type-</option>
                        @foreach (var lookingFor in Model.lookinForList)
                        {
                            <option value="@lookingFor.Id">@lookingFor.JobType</option>
                        }
                    </select>
                </td>
                <td><span name="errorSpan"></span></td>
            </tr>
            <tr>
                <td><label>Your Status</label></td>
                <td> : </td>
                <td>
                    <select name="loginDetails.YourStatusId">
                        <option value="0">-select type-</option>
                        @foreach (var yourStatus in Model.yourStatusList)
                        {
                            <option value="@yourStatus.Id">@yourStatus.Status</option>
                        }
                    </select>
                </td>
                <td><span name="errorSpan"></span></td>
            </tr>
        </tbody>
        <tbody class="personalDetails">
            <tr>
                <td><label asp-for="personalDetails.PhoneNumber">Phone Number</label></td>
                <td> : </td>
                <td><input type="tel" asp-for="personalDetails.PhoneNumber"></td>
                <td><span asp-validation-for="personalDetails.PhoneNumber"></span></td>
            </tr>
            <tr>
                <td><label asp-for="personalDetails.MobileNumber">Mobile Number</label></td>
                <td> : </td>
                <td><input type="tel" asp-for="personalDetails.MobileNumber" placeholder="917881010678"></td>
                <td><span asp-validation-for="personalDetails.MobileNumber"></span></td>
            </tr>
            <tr>
                <td><label asp-for="personalDetails.DateOfBirth">Date of Birth</label></td>
                <td> : </td>
                <td><input asp-for="personalDetails.DateOfBirth"></td>
                <td><span asp-validation-for="personalDetails.DateOfBirth"></span></td>
            </tr>
            <tr>
                <td><label>Gender</label></td>
                <td> : </td>
                <td>
                    <select name="personalDetails.GenderId">
                        @foreach (var gender in Model.genderList)
                        {
                            <option value="@gender.Id">@gender.Gender1</option>
                        }
                    </select>
                </td>
                <td><span></span></td>
            </tr>
            <tr>
                <td><label>Martial Status</label></td>
                <td> : </td>
                <td>
                    <select name="personalDetails.MartialStatusId">
                        @foreach (var martialStatus in Model.martialStatusList)
                        {
                            <option value="@martialStatus.Id">@martialStatus.MartialStatus1</option>
                        }
                    </select>
                </td>
                <td><span></span></td>
            </tr>
            <tr>
                <td><label>Country</label></td>
                <td> : </td>
                <td>
                    <select name="personalDetails.CountryId" onchange="OnCountrySelection(this.value)">
                        <option value="0">-Country-</option>
                        @foreach (var country in Model.countryList)
                        {
                            <option value="@country.Id">@country.Country1</option>
                        }
                    </select>
                </td>
                <td><span></span></td>
            </tr>
            <tr>
                <td><label>State</label></td>
                <td> : </td>
                <td>
                    <select name="personalDetails.StateId" id="state" onchange="OnStateSelection(this.value)">
                        <option value="0">-state-</option>
                        @* @foreach (var state in Model.stateList)
                        {
                        <option value="@state.Id">@state.Name</option>
                        }*@

                    </select>
                </td>
                <td><span></span></td>
            </tr>
            <tr>
                <td><label asp-for="personalDetails.District">District</label></td>
                <td> : </td>
                <td>
                    <input type="text" asp-for="personalDetails.District" />
                </td>
                <td><span asp-validation-for="personalDetails.District"></span></td>
            </tr>
            <tr>
                <td><label>City</label></td>
                <td> : </td>
                <td>
                    <select name="personalDetails.CityId" onchange="OnCitySelection(this.value)" id="city">
                        <option value="0">-city-</option>
                    </select>
                </td>
                <td><span></span></td>
            </tr>
            <tr>
                <td><label>Locality</label></td>
                <td> : </td>
                <td>
                    <select name="personalDetails.LocalityId" id="locality">
                        <option value="">-locality-</option>
                    </select>
                </td>
                <td><span></span></td>
            </tr>
            <tr>
                <td><label asp-for="personalDetails.ZipCode">ZipCode</label></td>
                <td> : </td>
                <td>
                    <input asp-for="personalDetails.ZipCode" />
                </td>
                <td><span asp-validation-for="personalDetails.ZipCode"></span></td>
            </tr>
        </tbody>
        <tbody class="educationalQualtification">
            <tr>
                <td><label>Highest Qualification Held</label></td>
                <td> : </td>
                <td>
                    <select name="educationalQualification.HighestQualificationId" onchange="OnHighestQualificationSelection(this.value)">
                        <option value="0">-Select Highest Qualification-</option>
                        @foreach (var highestQualification in Model.highestQualificationList)
                        {
                            <option value="@highestQualification.Id">@highestQualification.HighestQuaification</option>
                        }
                    </select>
                </td>
                <td><span name="errorSpan"></span></td>
            </tr>
            <tr>
                <td><label>Specialization</label></td>
                <td> : </td>
                <td>
                    <select name="educationalQualification.SpecializationId" id="specialization">
                        <option value="">-Select Specialization-</option>
                    </select>
                </td>
                <td><span name="errorSpan"></span></td>
            </tr>
            <tr>
                <td><label>Institute</label></td>
                <td> : </td>
                <td>
                    <select name="educationalQualification.InstituteId">
                        <option value="">-Select Institute-</option>
                        @foreach (var institute in Model.instituteList)
                        {
                            <option value="@institute.Id">@institute.Institute1</option>
                        }
                    </select>
                </td>
                <td><span name="errorSpan"></span></td>
            </tr>
            <tr>
                <td><label asp-for="educationalQualification.OtherInstituteName">Please Specify (if any other institute)</label></td>
                <td> : </td>
                <td>
                    <input type="text" asp-for="educationalQualification.OtherInstituteName" />
                </td>
                <td></td>
            </tr>
        </tbody>
        <tbody class="professionalDetails">
            <tr>
                <td><label for="prefferedLocation">Preferred Location</label></td>
                <td> : </td>
                <td>
                    <select name="professionalDetails.PreferredLocationId">
                        <option value="0">-Select Preffered Location-</option>
                        @foreach (var prefferedLocation in Model.prefferedLocationList)
                        {
                            <option value="@prefferedLocation.Id">@prefferedLocation.PreferredLocation1</option>
                        }
                    </select>
                </td>
                <td><span name="errorSpan"></span></td>
            </tr>
            <tr>
                <td>Are you ready to relocate?</td>
                <td> : </td>
                <td>
                    <input type="radio" asp-for="professionalDetails.ReadyToRelocate" value="Yes">
                    <label>Yes</label>
                    <input type="radio" asp-for="professionalDetails.ReadyToRelocate" value="No">
                    <label>No</label>
                </td>
                <td></td>
            </tr>
            <tr>
                <td><label>Total Experience</label></td>
                <td> : </td>
                <td>
                    <select id="years" asp-for="professionalDetails.TotalExperienceYears"></select>
                    <lable>(years)</lable>
                    <select id="months" asp-for="professionalDetails.TotaExperienceMonths"></select>
                    <lable>(months)</lable>
                </td>
                <td></td>
            </tr>
            <tr>
                <td>Job Category</td>
                <td> : </td>
                <td>
                    <select asp-for="professionalDetails.JobCategoryId">
                        <option value="0">-Select Job Category-</option>
                        @foreach (var jobCategory in Model.jobCategoryList)
                        {
                            <option value="@jobCategory.Id">@jobCategory.JobCategory1</option>
                        }
                    </select>
                </td>
                <td><span name="errorSpan"></span></td>
            </tr>
            <tr>
                <td><label asp-for="professionalDetails.KeySkills">Key Skills</label></td>
                <td> : </td>
                <td><input asp-for="professionalDetails.KeySkills"/></td>
                <td><span asp-validation-for="professionalDetails.KeySkills"></span></td>
            </tr>
            <tr>
                <td><label>Current Industry</label></td>
                <td> : </td>
                <td>
                    <select asp-for="professionalDetails.CurrentIndustryId">
                        <option value="0">-Select Industry-</option>
                        @foreach (var industry in Model.industryList)
                        {
                            <option value="@industry.Id">@industry.CurrentIndustry</option>
                        }
                    </select>
                </td>
                <td><span name="errorSpan"></span></td>
            </tr>
            <tr>
                <td><label asp-for="professionalDetails.CurrentEmployer">Current Employer</label></td>
                <td> : </td>
                <td><input asp-for="professionalDetails.CurrentEmployer"/></td>
                <td></td>
            </tr>
            <tr>
                <td><label asp-for="professionalDetails.CurrentDesignation">Current Designation</label></td>
                <td> : </td>
                <td><input asp-for="professionalDetails.CurrentDesignation" /></td>
                <td></td>
            </tr>
            <tr>
                <td><label asp-for="professionalDetails.PreviousEmployer">Previous Employer</label></td>
                <td> : </td>
                <td><input asp-for="professionalDetails.PreviousEmployer" /></td>
                <td></td>
            </tr>
            <tr>
                <td><label asp-for="professionalDetails.PreviousDesignation">Previous Designation</label></td>
                <td> : </td>
                <td><input asp-for="professionalDetails.PreviousDesignation" /></td>
                <td></td>
            </tr>
            <tr>
                <td><label>Notice Period</label></td>
                <td> : </td>
                <td>
                    <select asp-for="professionalDetails.NoticePeriodId">
                        @foreach (var noticePeriod in Model.noticePeriodList)
                        {
                            <option value="@noticePeriod.Id">@noticePeriod.NoticePeriod1</option>
                        }
                    </select>
                </td>
                <td></td>
            </tr>
            <tr>
                <td><label>CTC (per annum)</label></td>
                <td> : </td>
                <td>
                    <select id="lakhs" asp-for="professionalDetails.CtcLakhs"></select>
                    <lable>(lakhs)</lable>
                    <select id="thousands" asp-for="professionalDetails.CtcThousands"></select>
                    <lable>(thousands)</lable>
                </td>
                <td></td>
            </tr>
            <tr>
                <td><label asp-for="professionalDetails.ResumeTitle">Resume Title</label></td>
                <td> : </td>
                <td><input asp-for="professionalDetails.ResumeTitle"/></td>
                <td><span asp-validation-for="professionalDetails.ResumeTitle"></span></td>
            </tr>
            <tr>
                <td><label asp-for="professionalDetails.AttachFileName">Attach Your Word Resume</label></td>
                <td> : </td>
                <td><input type="file" id="myFile" asp-for="professionalDetails.AttachFileName"/></td>
                <td><span></span></td>
            </tr>
            <tr>
                <td><label asp-for="professionalDetails.TypeInResume" >Type in or copy your resume</label></td>
                <td> : </td>
                <td><textarea asp-for="professionalDetails.TypeInResume" rows="10" cols="50"></textarea></td>
                <td></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td><button type="submit" class="btn btn-primary">Submit</button></td>
                <td></td>
                <td><button type="reset" class="btn btn-primary">Reset</button></td>
            </tr>
        </tfoot>
    </table>
</form>