﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model WebAPP.Models.DataModel

<h5>Login Details</h5>
<p>Hi @Model.loginDetails.EmailAddress</p>
<p>Alternate Email Id:: @Model.loginDetails.AlternateEmailId</p>
<p>First Name:: @Model.loginDetails.FirstName</p>
<p>Last Name:: @Model.loginDetails.LastName</p>
<p>Password:: @Model.loginDetails.Password</p>
<p>LookingForIds:: @Model.loginDetails.LookingForIds</p>
<p>YourStatusId:: @Model.loginDetails.YourStatusId</p>

<h5>Personal Details</h5>
<p>Phone Number:: @Model.personalDetails.PhoneNumber</p>
<p>Mobile Number:: @Model.personalDetails.MobileNumber</p>
<p>Date of Birth:: @Model.personalDetails.DateOfBirth</p>
<p>GenderId:: @Model.personalDetails.GenderId</p>
<p>MartialStatusId:: @Model.personalDetails.MartialStatusId</p>
<p>CountryId:: @Model.personalDetails.CountryId</p>
<p>StateId:: @Model.personalDetails.StateId</p>
<p>District:: @Model.personalDetails.District</p>
<p>CityId:: @Model.personalDetails.CityId</p>
<p>LocalityId:: @Model.personalDetails.LocalityId</p>
<p>ZipCode:: @Model.personalDetails.ZipCode</p>

<h5>Educational Qualification</h5>
<p>HighestQualificationId:: @Model.educationalQualification.HighestQualificationId</p>
<p>SpecializationId:: @Model.educationalQualification.SpecializationId</p>
<p>InstituteId:: @Model.educationalQualification.InstituteId</p>
<p>Other Institute:: @Model.educationalQualification.OtherInstituteName</p>

<h5>Professional Details</h5>
<p>PrefferedLocationId:: @Model.professionalDetails.PreferredLocationId</p>
<p>ReadyToRelocate:: @Model.professionalDetails.ReadyToRelocate</p>
<p>TotalExperienceInYears:: @Model.professionalDetails.TotalExperienceYears</p>
<p>TotalExperienceInMonths:: @Model.professionalDetails.TotaExperienceMonths</p>
<p>JobCategoryId:: @Model.professionalDetails.JobCategoryId</p>
<p>KeySkills:: @Model.professionalDetails.KeySkills</p>
<p>CurrentIndustryId:: @Model.professionalDetails.CurrentIndustryId</p>
<p>CurrentEmployer:: @Model.professionalDetails.CurrentEmployer</p>
<p>CurrentDesignation:: @Model.professionalDetails.CurrentDesignation</p>
<p>PreviousEmployer:: @Model.professionalDetails.PreviousEmployer</p>
<p>PreviousDesignation:: @Model.professionalDetails.PreviousDesignation</p>
<p>NoticePeriodId:: @Model.professionalDetails.NoticePeriodId</p>
<p>CtcLakhs:: @Model.professionalDetails.CtcLakhs</p>
<p>CtcThousands:: @Model.professionalDetails.CtcThousands</p>
<p>ResumeTitle:: @Model.professionalDetails.ResumeTitle</p>
<p>AttachFileName:: @Model.professionalDetails.AttachFileName</p>
<p>TypeInResume:: @Model.professionalDetails.TypeInResume</p>