﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="box">
    <h3>Singleton vs. Scoped vs. Transient</h3>
    <div>
        <h4>Singleton</h4>
        <ul>
            <li>Singleton is a single instance for the lifetime of the application domain</li>
            <li>Created the first time they're requested</li>
            <li>Only one instance is created and will be shared across the application means shared across all the users in the application</li>
            <li>Lifetime of services defined as singleton - is equal to lifetime of application</li>
        </ul>
        <a asp-controller="Home" asp-action="SingletonService" class="btn btn-primary">Singleton</a>
    </div>
    <div>
        <h4>Scoped</h4>
        <ul>
            <li>Scoped is a single instance for the duration of the scoped request, which means per HTTP request in ASP.NET</li>
            <li>Created once per request (instance will be avaible for a scope of time. If another request came object gets destroyed and again instance created for that request.)</li>
            <li>Whenever you create instance, it will be created once per user and shared across all the request. So user specific scope</li>
            <li>Lifetime of scoped services is equal to lifetime of request</li>
        </ul>
        <a asp-controller="Home" asp-action="ScopedService" class="btn btn-primary">Scoped</a>
    </div>
    <div>
        <h4>Transient</h4>
        <ul>
            <li>Transient is a single instance per code request</li>
            <li>Created each time they're requested</li>
            <li>Whenever you ask for the instance/object, it always returns new/fresh instance</li>
            <li>Lifetime of transient services is equal to lifetime of variable which represent the service object</li>
        </ul>
        <a asp-controller="Home" asp-action="TransientService" class="btn btn-primary">Transient</a>
    </div>
</div>
