﻿@model string

@{
    ViewData["Title"] = "ScopedService";
}


<h1>Scoped</h1>
<h2>Guid on page:: @Model</h2>
<partial name="_Scoped" />

<p>Useful for?</p>
<ul>
    <li>Persisting state throughout application per request</li>
</ul>

<small>For a request, the id will remain the same, but if you issue another request
    the id will change. This means new instance/object is been created everytime you make a request.</small>

<br/><br/>
<a asp-controller="Home" asp-action="Index">Back to List</a>
