﻿@model string

@{
    ViewData["Title"] = "SingletonService2";
}

<h1>Singleton</h1>
<h2>Guid on page:: @Model</h2>
<partial name="_Singleton2"/>

<a asp-controller="Home" asp-action="Index">Back to List</a>