﻿@model string

@{
    ViewData["Title"] = "SingletonService";
}

<h1>Singleton</h1>
<h2>Guid on page:: @Model</h2>
<partial name="_Singleton"/>

<p>Useful for?</p>
<ul>
    <li>Caching Services</li>
    <li>Global Configuartion</li>
    <li>Business Rules</li>
    <li>HttpClients <a target="_blank" href="https://medium.com/nuno.caneco/c-httpclient-should-not-be-disposed-or-should-it-45d2a8f568bc">Reason why?</a></li>
    <li>Persisting state that's useful for the runtime of the application</li>
</ul>

<small>Create once and its there, when you call you get the same instance, 
    doesn't matter where you injected it, it's always the same.</small>

<br />
<br />
<a asp-controller="Home" asp-action="Index">Back to List</a>