﻿@model string

@{
    ViewData["Title"] = "Transient";
}


<h1>Transient</h1>
<h1>Guid on page:: @Model</h1>
<partial name="_Transient" />

<p>Useful for?</p>
<ul>
    <li>Database Access</li>
    <li>File Access</li>
    <li>Services that should dispose of their state</li>
    <li>When you need a fresh instance of an object every single time</li>
</ul>

<br/><br/>
<a asp-controller="Home" asp-action="Index">Back to List</a>
