﻿@model Captcha.Models.RegisterModel
@{
    ViewData["Title"] = "Home Page";
}


@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @enctype = "multipart/form-data" , @id = "captcha"}))
{
    <div class="container">
        <div class="row">
            <div class="form-group">
                @Html.LabelFor(model => model.UserName, new{@class="control-label"})
                @Html.TextBoxFor(model => model.UserName, new{@class = "form-control"})
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                @Html.LabelFor(model => model.Password, new{@class="control-label"})
                @Html.PasswordFor(model => model.Password, new{@class = "form-control"})
            </div>
        </div>
        @*<div class="row">
            <div class="form-group">
                @Html.MathCaptcha()
                <p class="text-danger">@ViewBag.ErrorMessage</p>
            </div>
        </div>*@
        <div class="row">
            <div class="form-group">
                <input type="submit" value="Create" class="form-control" />
            </div>
        </div>
    </div>
}