﻿@model IEnumerable<Corbet16112022.Mvc.Models.GetAllStocksModel>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<table class="table" id="myTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StockId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                Type
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeIn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeOut)
            </th>
            <th data-orderable="false">Actions</th>
        </tr>
    </thead>
    <tbody>
        @if(ViewBag.noItemsFound != null)
        {
            <tr>
                <td colspan="7" class="text-center">@ViewBag.noItemsFound</td>
            </tr>
        }
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StockId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StockTypeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeIn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeOut)
                </td>
                <td class="tableActions">
                    <a class="btn btn-sm btn-primary" asp-action="UpdateStock" asp-route-id="@item.StockId">Edit</a>
                    <a class="btn btn-sm btn-danger" onclick="DeleteStockWithSwal('@item.StockId')">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>