﻿@model Corbet16112022.Mvc.Models.AddStockModel

@{
    ViewData["Title"] = "AddStock";
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<script>
    window.onload = function () {
        //ProductList
        var productIdNode = $("#ProductId");
        productIdNode.append($("<option></option>").val("0").html("-Select Product-"));
        var url = "/Stock/GetProductList";
        $.get(url, null, function (data) {
            console.log(data);

            $.each(data, function (i, product) {
                productIdNode.append($("<option></option>").val(product.productId).html(product.productTitle));
            });
        });
        //StockTypeList
        var stockTypeIdNode = $("#StockTypeId");
        stockTypeIdNode.append($("<option></option>").val("0").html("-Select Type-"));
        var url = "/Stock/GetStockTypeList";
        $.get(url, null, function (data) {
            console.log(data);

            $.each(data, function (i, type) {
                stockTypeIdNode.append($("<option></option>").val(type.stockTypeId).html(type.stockTypeName));
            });
        });

        //DateTime Validations
        var timeIn = new Date();
        console.log(timeIn);
        var mTimeIn = moment(timeIn).format('YYYY-MM-DDThh:mm');
        console.log(mTimeIn);
        var timeIn_day = timeIn.getDate();
        var timeIn_month = timeIn.getMonth() + 1;
        var timeIn_year = timeIn.getFullYear();
        var timeIn_hours = timeIn.getHours();
        var timeIn_minutes = timeIn.getMinutes();

        var minDateTimeOut = `${timeIn_year}-${timeIn_month}-${timeIn_day}T${timeIn_hours}:${timeIn_minutes+5}`;//2022-11-21T16:11
        $('#TimeOut').attr('min', minDateTimeOut);
    };
</script>
<h4>Stock</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddStock">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <select asp-for="ProductId">
                    @*<option value="0">-Select Product-</option>
                    @foreach (var product in Model.ProductList)
                    {
                        <option value="@product.ProductId">@product.ProductTitle</option>
                    }*@
                </select><br />
                <span asp-validation-for="ProductId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Enter Quantity</label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <select asp-for="StockTypeId"></select><br />
                <span asp-validation-for="StockTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Time Out</label>
                <input asp-for="TimeOut" class="form-control" />
                <span asp-validation-for="TimeOut" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a class="btn btn-warning" asp-controller="Stock" asp-action="GetAllStocks">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}