﻿@model IEnumerable<Corbet16112022.Mvc.Models.GetAllStocksVm>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="~/js/multiplefilters.js"></script>
<style>
    .btn-and-filters {
        display: flex;
        justify-content: space-between;
        
    }
</style>

<div class="btn-and-filters">
    <div class="addStockBtnDiv">
        <a class="btn btn-sm btn-primary" asp-controller="Stock" asp-action="AddStock">Create Stock</a>
    </div>
    <div class="filters">
        <label class="labelFilter">Filters -> </label>
        <select class="cl_product" id="ddlProduct" title="filter by product name"></select>
        <select class="cl_quantity" id="ddlQuantity" title="filter by quantity (no. of stocks available)"></select>
        <select class="cl_type" id="ddlType" title="filter by stock type"></select>
    </div>
</div>

<div class="tableHolderDiv">
    <table class="table" style="width: 100%" id="table11">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.StockId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProductName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Quantity)
                </th>
                <th>
                    Type
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TimeIn)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TimeOut)
                </th>
                <th data-orderable="false">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.StockId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StockTypeName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TimeIn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TimeOut)
                    </td>
                    <td class="tableActions">
                        <a class="btn btn-sm btn-primary" asp-action="UpdateStock" asp-route-id="@item.StockId">Edit</a>
                        <a class="btn btn-sm btn-danger" onclick="DeleteStockWithSwal('@item.StockId')">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    function DeleteStockWithSwal(id) {
        console.log(`Stock having id=${id} will be deleted if you hit yes button.`);
        Swal.fire({
            title: "Are you sure?",
            text: "You won't be able to revert this!",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Yes, delete it!"
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.assign(`/Stock/DeleteStock/${id}`);
            }
        });
    }
</script>