﻿@model IEnumerable<Corbet16112022.Mvc.Models.GetAllStocksModel>

@{
    ViewData["Title"] = "GetAllStocks2";
    int counter = 0;
}
<style>
    .btn-and-filters {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    .filters tr::before {
        content: "Filter By";
        margin: 0px 10px 0px 0px;
    }

    .filters select {
        margin: 0px 5px 0px 0px;
    }
</style>

<div class="btn-and-filters">
    <div class="addStockBtnDiv">
        <a class="btn btn-sm btn-primary" asp-controller="Stock" asp-action="AddStock">Create Stock</a>
    </div>
    <div class="filters"></div>
</div>

<table class="table" id="myTable">
    <thead>
        <tr>
            <th>
                Sr. No
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                Type
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeIn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeOut)
            </th>
            <th data-orderable="false">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @{
                        counter++;
                    }
                    @counter
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StockTypeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeIn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeOut)
                </td>
                <td class="tableActions">
                    <a class="btn btn-sm btn-primary" asp-controller="Stock" asp-action="UpdateStock" asp-route-id="@item.StockId">E</a>
                    <button class="btn btn-sm btn-danger" onclick="DeleteStockWithSwal('@item.StockId')">D</button>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th data-orderable="false"></th>
        </tr>
    </tfoot>
</table>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('#myTable').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ],
            pageLength: 5,
            lengthMenu: [5, 10, 20, 50, 100],
            initComplete: function () {
                var idForSelect = 1;
                this.api()
                    .columns([1, 2, 3])
                    .every(function () {
                        var column = this;
                        var select = $(`<select id="select${idForSelect}"><option value=""></option></select>`)
                            .appendTo($(column.footer()).empty())
                            .on('change', function () {
                                var val = $.fn.dataTable.util.escapeRegex($(this).val());

                                column.search(val ? '^' + val + '$' : '', true, false).draw();
                            });

                        column
                            .data()
                            .unique()
                            .sort()
                            .each(function (d, j) {
                                select.append('<option value="' + d + '">' + d + '</option>');
                            });
                            
                        //console.log(idForSelect);
                        idForSelect += 1;
                    });
            },
        });
        $("#myTable tfoot tr").appendTo(".filters");
        $("#select1 option:nth-child(1)").html("Select Product");
        $("#select2 option:nth-child(1)").html("Select Quantity");
        $("#select3 option:nth-child(1)").html("Select Type");
    });

    function DeleteStockWithSwal(id) {
        console.log(`Stock having id=${id} will be deleted if you hit yes button.`);
        Swal.fire({
            title: "Are you sure?",
            text: "You won't be able to revert this!",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Yes, delete it!"
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.assign(`/Stock/DeleteStock/${id}`);
            }
        });
    }
</script>