﻿@model IEnumerable<Corbet16112022.Mvc.Models.GetAllStocksModel>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    function DeleteStockWithSwal(id) {
        console.log(`Stock having id=${id} will be deleted if you hit yes button.`);
        Swal.fire({
            title: "Are you sure?",
            text: "You won't be able to revert this!",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Yes, delete it!"
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.assign(`/Stock/DeleteStock/${id}`);
            }
        });
    }
</script>
<style>
    .btn-and-filters {
        display: flex;
        justify-content: space-between;
    }
</style>
<div class="btn-and-filters">
    <div class="addStockBtnDiv">
        <a class="btn btn-sm btn-primary" asp-controller="Stock" asp-action="AddStock">Create Stock</a>
    </div>
    <div class="filters">
        <select id="productName" title="filter by product name" onclick="FilterByStockProperty(this.value, 'productName')"></select>
        <select id="stockType" title="filter by stock type" onclick="FilterByStockProperty(this.value, 'stockType')"></select>
        <select id="quantity" title="filter by stock quantity" onclick="FilterByStockProperty(this.value, 'stockQuantity')"></select>
    </div>
</div>

<div class="tableHolderDiv">
    <table class="table" id="myTable">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.StockId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProductName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Quantity)
                </th>
                <th>
                    Type
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TimeIn)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TimeOut)
                </th>
                <th data-orderable="false">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.StockId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StockTypeName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TimeIn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TimeOut)
                    </td>
                    <td class="tableActions">
                        <a class="btn btn-sm btn-primary" asp-action="UpdateStock" asp-route-id="@item.StockId">Edit</a>
                        <a class="btn btn-sm btn-danger" onclick="DeleteStockWithSwal('@item.StockId')">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    window.onload = function () {
        //ProductList
        var productNode = $("#productName");
        productNode.append($("<option></option>").val("all").html("Show All"));
        var url = "/Stock/GetProductList";
        $.get(url, null, function (data) {
            console.log(data);

            $.each(data, function (i, product) {
                productNode.append($("<option></option>").val(product.productTitle).html(product.productTitle));
            });
        });
        //StockTypeList
        var stockTypeNode = $("#stockType");
        stockTypeNode.append($("<option></option>").val("all").html("Show All"));
        var url = "/Stock/GetStockTypeList";
        $.get(url, null, function (data) {
            console.log(data);

            $.each(data, function (i, type) {
                stockTypeNode.append($("<option></option>").val(type.stockTypeName).html(type.stockTypeName));
            });
        });
        //StockList
        var stockQuantityNode = $("#quantity");
        stockQuantityNode.append($("<option></option>").val("all").html("Show All"));
        for (let i = 1; i < 100; i++) {
            stockQuantityNode.append($("<option></option>").val(i).html(i));
        }
    }

    function FilterByStockProperty(val, filterByStockProperty) {
        if (filterByStockProperty == 'productName') {
            $("#stockType").val('all');//Select the Default Value
            $("#quantity").val('all');
        }
        else if (filterByStockProperty == 'stockType') {
            $("#productName").val('all');//Select the Default Value
            $("#quantity").val('all');
        }
        else if (filterByStockProperty == 'stockQuantity') {
            $("#productName").val('all');//Select the Default Value
            $("#stockType").val('all');
        }
        $.ajax({
            url: "@Url.Action("GetAllStocksPV", "Stock")",
            type: "post",
            data: { stockColumnName: val, filterBy: filterByStockProperty },

            success: function (data) {
                console.log(data);
                //$("#test").load("/Stock/_GetAllStocks.cshtml");
                //$("#test").replaceWith(data);
                $(".tableHolderDiv").html(data);
            },
            error: function () {
                alert("Fails!");
            }
        });
    }
</script>
@*g*@
@*@model IEnumerable<Corbet16112022.Mvc.Models.GetAllStocksModel>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="~/js/multiplefilters.js"></script>

<select class="cl_product" id="ddlProduct"></select>
<select class="cl_quantity" id="ddlQuantity"></select>
<select class="cl_type" id="ddlType"></select>

<table style="width: 100%" id="table11" border="1">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StockId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                Type
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeIn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeOut)
            </th>
            <th data-orderable="false">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StockId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StockTypeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeIn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeOut)
                </td>
                <td class="tableActions">
                    <a class="btn btn-sm btn-primary" asp-action="UpdateStock" asp-route-id="@item.StockId">Edit</a>
                    <a class="btn btn-sm btn-danger" onclick="DeleteStockWithSwal('@item.StockId')">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>*@