﻿@model IEnumerable<WebApplication1.Models.User>

@{
    ViewData["Title"] = "AllUsers";
    int id = 0;
}

<h1>AllUsers</h1>

<p class="red">
    <a asp-action="RegisterUser">Register New User</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.M0)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.M1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.M2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DOB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsDeleted)
            </th>
            <th>
                Download Document
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LookingFor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.M0)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.M1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.M2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DOB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDeleted)
            </td>
            <td>
                <a asp-action="GetRespectiveDocument" asp-route-id="@item.Id">@item.Name @item.fileExtension file</a><br/>
                    <a asp-action="GetRespectiveDocument3" asp-route-id="@item.Id">@item.Name @item.fileExtension file3</a><br/>
                    <button onclick="fun('@item.Id','@item.fileExtension')" class="btn btn-sm btn-dark my-1" data-bs-toggle="modal" data-bs-target="@($"#resumeModal{item.Id}")">View Document</button>
                    <div class="modal fade" id="@($"resumeModal{item.Id}")" tabindex="-1" aria-hidden="true">
                        <div class ="modal-dialog modal-lg">
                            <div class="modal-content m-2">
                                <div class="modal-header">
                                    <h5 class="modal-title">@item.Id</h5><span>
                                        <button type="button" title="Close" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </span>
                                </div>

								<iframe src='https://www.youtube.com/embed/cP5E0b21f_Y' id="myFr" name="iframe1" style="height:77vh;"></iframe>

			<br>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                @String.Join(",", item.LookingFor)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    function fun(idVal, fileExtension)
    {
        const types = {
//   File Extension   MIME Type
	'abs':           'audio/x-mpeg',
	'ai':            'application/postscript',
	'aif':           'audio/x-aiff',
	'aifc':          'audio/x-aiff',
	'aiff':          'audio/x-aiff',
	'aim':           'application/x-aim',
	'art':           'image/x-jg',
	'asf':           'video/x-ms-asf',
	'asx':           'video/x-ms-asf',
	'au':            'audio/basic',
	'avi':           'video/x-msvideo',
	'avx':           'video/x-rad-screenplay',
	'bcpio':         'application/x-bcpio',
	'bin':           'application/octet-stream',
	'bmp':           'image/bmp',
	'body':          'text/html',
	'cdf':           'application/x-cdf',
	'cer':           'application/pkix-cert',
	'class':         'application/java',
	'cpio':          'application/x-cpio',
	'csh':           'application/x-csh',
	'css':           'text/css',
	'dib':           'image/bmp',
	'doc':           'application/msword',
	'dtd':           'application/xml-dtd',
	'dv':            'video/x-dv',
	'dvi':           'application/x-dvi',
	'eot':           'application/vnd.ms-fontobject',
	'eps':           'application/postscript',
	'etx':           'text/x-setext',
	'exe':           'application/octet-stream',
	'gif':           'image/gif',
	'gtar':          'application/x-gtar',
	'gz':            'application/x-gzip',
	'hdf':           'application/x-hdf',
	'hqx':           'application/mac-binhex40',
	'htc':           'text/x-component',
	'htm':           'text/html',
	'html':          'text/html',
	'ief':           'image/ief',
	'jad':           'text/vnd.sun.j2me.app-descriptor',
	'jar':           'application/java-archive',
	'java':          'text/x-java-source',
	'jnlp':          'application/x-java-jnlp-file',
	'jpe':           'image/jpeg',
	'jpeg':          'image/jpeg',
	'jpg':           'image/jpeg',
	'js':            'application/javascript',
	'jsf':           'text/plain',
	'json':          'application/json',
	'jspf':          'text/plain',
	'kar':           'audio/midi',
	'latex':         'application/x-latex',
	'm3u':           'audio/x-mpegurl',
	'mac':           'image/x-macpaint',
	'man':           'text/troff',
	'mathml':        'application/mathml+xml',
	'me':            'text/troff',
	'mid':           'audio/midi',
	'midi':          'audio/midi',
	'mif':           'application/x-mif',
	'mov':           'video/quicktime',
	'movie':         'video/x-sgi-movie',
	'mp1':           'audio/mpeg',
	'mp2':           'audio/mpeg',
	'mp3':           'audio/mpeg',
	'mp4':           'video/mp4',
	'mpa':           'audio/mpeg',
	'mpe':           'video/mpeg',
	'mpeg':          'video/mpeg',
	'mpega':         'audio/x-mpeg',
	'mpg':           'video/mpeg',
	'mpv2':          'video/mpeg2',
	'ms':            'application/x-wais-source',
	'nc':            'application/x-netcdf',
	'oda':           'application/oda',
	'odb':           'application/vnd.oasis.opendocument.database',
	'odc':           'application/vnd.oasis.opendocument.chart',
	'odf':           'application/vnd.oasis.opendocument.formula',
	'odg':           'application/vnd.oasis.opendocument.graphics',
	'odi':           'application/vnd.oasis.opendocument.image',
	'odm':           'application/vnd.oasis.opendocument.text-master',
	'odp':           'application/vnd.oasis.opendocument.presentation',
	'ods':           'application/vnd.oasis.opendocument.spreadsheet',
	'odt':           'application/vnd.oasis.opendocument.text',
	'otg':           'application/vnd.oasis.opendocument.graphics-template',
	'oth':           'application/vnd.oasis.opendocument.text-web',
	'otp':           'application/vnd.oasis.opendocument.presentation-template',
	'ots':           'application/vnd.oasis.opendocument.spreadsheet-template',
	'ott':           'application/vnd.oasis.opendocument.text-template',
	'ogx':           'application/ogg',
	'ogv':           'video/ogg',
	'oga':           'audio/ogg',
	'ogg':           'audio/ogg',
	'otf':           'application/x-font-opentype',
	'spx':           'audio/ogg',
	'flac':          'audio/flac',
	'anx':           'application/annodex',
	'axa':           'audio/annodex',
	'axv':           'video/annodex',
	'xspf':          'application/xspf+xml',
	'pbm':           'image/x-portable-bitmap',
	'pct':           'image/pict',
	'pdf':           'application/pdf',
	'pgm':           'image/x-portable-graymap',
	'pic':           'image/pict',
	'pict':          'image/pict',
	'pls':           'audio/x-scpls',
	'png':           'image/png',
	'pnm':           'image/x-portable-anymap',
	'pnt':           'image/x-macpaint',
	'ppm':           'image/x-portable-pixmap',
	'ppt':           'application/vnd.ms-powerpoint',
	'pps':           'application/vnd.ms-powerpoint',
	'ps':            'application/postscript',
	'psd':           'image/vnd.adobe.photoshop',
	'qt':            'video/quicktime',
	'qti':           'image/x-quicktime',
	'qtif':          'image/x-quicktime',
	'ras':           'image/x-cmu-raster',
	'rdf':           'application/rdf+xml',
	'rgb':           'image/x-rgb',
	'rm':            'application/vnd.rn-realmedia',
	'roff':          'text/troff',
	'rtf':           'application/rtf',
	'rtx':           'text/richtext',
	'sfnt':          'application/font-sfnt',
	'sh':            'application/x-sh',
	'shar':          'application/x-shar',
	'sit':           'application/x-stuffit',
	'snd':           'audio/basic',
	'src':           'application/x-wais-source',
	'sv4cpio':       'application/x-sv4cpio',
	'sv4crc':        'application/x-sv4crc',
	'svg':           'image/svg+xml',
	'svgz':          'image/svg+xml',
	'swf':           'application/x-shockwave-flash',
	't':             'text/troff',
	'tar':           'application/x-tar',
	'tcl':           'application/x-tcl',
	'tex':           'application/x-tex',
	'texi':          'application/x-texinfo',
	'texinfo':       'application/x-texinfo',
	'tif':           'image/tiff',
	'tiff':          'image/tiff',
	'tr':            'text/troff',
	'tsv':           'text/tab-separated-values',
	'ttf':           'application/x-font-ttf',
	'txt':           'text/plain',
	'ulw':           'audio/basic',
	'ustar':         'application/x-ustar',
	'vxml':          'application/voicexml+xml',
	'xbm':           'image/x-xbitmap',
	'xht':           'application/xhtml+xml',
	'xhtml':         'application/xhtml+xml',
	'xls':           'application/vnd.ms-excel',
	'xml':           'application/xml',
	'xpm':           'image/x-xpixmap',
	'xsl':           'application/xml',
	'xslt':          'application/xslt+xml',
	'xul':           'application/vnd.mozilla.xul+xml',
	'xwd':           'image/x-xwindowdump',
	'vsd':           'application/vnd.visio',
	'wav':           'audio/x-wav',
	'wbmp':          'image/vnd.wap.wbmp',
	'wml':           'text/vnd.wap.wml',
	'wmlc':          'application/vnd.wap.wmlc',
	'wmls':          'text/vnd.wap.wmlsc',
	'wmlscriptc':    'application/vnd.wap.wmlscriptc',
	'wmv':           'video/x-ms-wmv',
	'woff':          'application/font-woff',
	'woff2':         'application/font-woff2',
	'wrl':           'model/vrml',
	'wspolicy':      'application/wspolicy+xml',
	'z':             'application/x-compress',
	'zip':           'application/zip'
};


// Usage example:

//console.log(types['txt']);  // text/plain
//console.log(types['css']);  // text/css
//console.log(types['png']);  // image/png
if(fileExtension != "" )
{
	var ex = fileExtension.replace(".","");
}
else{
	var ex = 'html';
}

//var rhino = document.getElementById("myFr");
//		var xhr = new XMLHttpRequest(),
//			blob,
//			fileReader = new FileReader();

		

//		xhr.addEventListener("load", function () {
//			if (xhr.status === 200) {
//				console.log(xhr.response);
//				var utf8 = unescape(encodeURIComponent(xhr.response));
//				console.log(utf8);
//				var arr = [];
//				for (var i = 0; i < utf8.length; i++) {
//					arr.push(parseInt(utf8.charCodeAt(i)));
//				}
//				console.log(arr);

//				// onload needed since Google Chrome doesn't support addEventListener for FileReader
//				//fileReader.onload = function (evt) {
//				//	// Read out file contents as a Data URL
//				//	var result = evt.target.result;
//				//	// Set image src to Data URL
//				//	rhino.setAttribute("src", result);
//				//	// Store Data URL in localStorage
//				//	//try {
//				//	//	localStorage.setItem("rhino", result);
//				//	//}
//				//	//catch (e) {
//				//	//	console.log("Storage failed: " + e);
//				//	//}
//				//};
//				// Load blob as Data URL
//				//fileReader.readAsDataURL(blob);
//				//console.log(fileReader);
//				//console.log(blob);
//				var bytes = new Uint8Array(arr); // pass your byte response to this constructor

//				var blob = new Blob([bytes], { type: types[ex] });// change resultByte to bytes
//				var link = document.createElement('a');
//				link.href = window.URL.createObjectURL(blob);
//				console.log(link.href);
//				//window.location.href = link.href;
//			}
//		}, false);

//		xhr.open("GET", `/User/GetRespectiveDocument2?id=${idVal}`, true);
//		// Set the responseType to arraybuffer. "blob" is an option too, rendering manual Blob creation unnecessary, but the support for "blob" is not widespread enough yet
//		xhr.responseType = "json";
//		// Send XHR
//		xhr.send();
        




		var xhr = new XMLHttpRequest();
		xhr.open('GET', `/User/GetRespectiveDocument2?id=${idVal}`, true);

		xhr.responseType = 'arraybuffer';

		xhr.onload = function (e) {
			if (xhr.status == 200) {
				console.log(xhr.response);

				//let dataView = new DataView(xhr.response);
				//console.log(dataView)
				var uInt8Array = new Uint8Array(this.response); // Note:not xhr.responseText
				console.log(uInt8Array);


				let b = new Blob([xhr.response], { type: types[ex] });
				console.log(b);

				let f = new File([xhr.response], `myInfo.${ex}`, { type: types[ex] });
				console.log(f);

				let url = URL.createObjectURL(f);
				let a = document.createElement("a");
				a.href = url;
				a.download = f.name;
				a.textContent = `Download ${f.name}`;
				console.log(a);
				document.querySelector(".red").append(a);

				//--
				let b3 = new Blob([xhr.response], { type: types[ex] });
				console.log(b3);
				let url3 = URL.createObjectURL(b3);
				console.log(url3);
				//--
				
				//--
				blobToDataURL(b, function(dataurl){
					console.log(dataurl);
					var file = dataURLtoFile(dataurl, `hello.${ex}`);
					console.log(file);
				let urlk = URL.createObjectURL(file);
					console.log(urlk);
				});
				//--
				readFile(b);
				//--
		}
    }

		// Send XHR
		xhr.send();
}

	function readFile(blobInput)
	{
		const fr = new FileReader();
		fr.readAsDataURL(blobInput);
		fr.addEventListener("load", ()=>{
			const res = fr.result;
			console.log(res);
		});
	}

		function blobToDataURL(blob, callback) {
			let a = new FileReader();
			a.onload = function (e) { callback(e.target.result); }
			a.readAsDataURL(blob);
		}

	function dataURLtoFile(dataurl, filename) {

		var arr = dataurl.split(','),
			mime = arr[0].match(/:(.*?);/)[1],
			bstr = atob(arr[1]),
			n = bstr.length,
			u8arr = new Uint8Array(n);

		while (n--) {
			u8arr[n] = bstr.charCodeAt(n);
		}

		return new File([u8arr], filename, { type: mime });
	}
</script>
