﻿@model WebApplication1.Models.User

@{
    ViewData["Title"] = "RegisterUser";
}

<h1>RegisterUser</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="RegisterUser" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="M0" class="control-label"></label>
                <input asp-for="M0" class="form-control" />
                <span asp-validation-for="M0" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="M1" class="control-label"></label>
                <input asp-for="M1" class="form-control" />
                <span asp-validation-for="M1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="M2" class="control-label"></label>
                <input asp-for="M2" class="form-control" />
                <span asp-validation-for="M2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DOB" class="control-label"></label>
                <input asp-for="DOB" class="form-control" />
                <span asp-validation-for="DOB" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsDeleted" /> @Html.DisplayNameFor(model => model.IsDeleted)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="LookingFor" class="control-label"></label>
                <select asp-for="LookingFor" multiple>
                    <option value="100073993">100073993</option>
                    <option value="44">44</option>
                    <option value="5655">5655</option>
                    <option value="455">455</option>
                </select>
                <span asp-validation-for="LookingFor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="theFile" class="control-label"></label>
                <input asp-for="theFile" type="file" class="form-control" />
                <span asp-validation-for="theFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
