<h3 class="titleVC">View Cart</h3><br>
<div class="cartContainer">
    <table class="pizzaHolder">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Category</th>
            <th>Currently Logged In User</th>
            <th  *ngIf="flagSignalForAdmin == false"></th>
        </tr>
        <tr *ngFor="let item of cartPizzas">
            <td>{{item.id}}</td>
            <td>{{item.name}}</td>
            <td>{{item.price}} &#8377;</td>
            <td>{{item.quantity}}</td>
            <td>{{item.category}}</td>
            <td>{{item.email}}</td>
            <td  *ngIf="flagSignalForAdmin == false">
                <button (click)="GoToEditPizzaFunction(item.id)">Edit</button> | <button (click)="DeletePizzaFromCart(item)">Delete</button>
            </td>
        </tr>

    </table>
</div>
<br>
<div class="generateBill" *ngIf="flagSignalForAdmin == false">
    <a href="/menu/view-cart/generate-bill">Generate Bill</a>
</div>
<br>
<div class="gotoMenu">
    <a href="/menu">Back to List</a>
</div>