﻿@model Corbet16112022.Mvc.Models.AddStockTypeModel

@{
    ViewData["Title"] = "AddStockType";
}

<h4>Add StockType</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddStockType">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="StockTypeName"/><br />
                <span asp-validation-for="StockTypeName" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a class="btn btn-warning" asp-controller="StockType" asp-action="GetAllStockTypes">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }