﻿@model IEnumerable<Corbet16112022.Mvc.Models.GetAllStockTypesModel>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    function DeleteStockTypeWithSwal(id) {
        console.log(`StockType having id=${id} will be deleted if you hit yes button.`);
        Swal.fire({
            title: "Are you sure?",
            text: "You won't be able to revert this!",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Yes, delete it!"
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.assign(`/StockType/DeleteStockType/${id}`);
            }
        });
    }
</script>
<div>
    <a class="btn btn-sm btn-primary" asp-controller="StockType" asp-action="AddStockType">Create StockType</a>
</div>

<table class="table" id="myTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StockTypeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockTypeName)
            </th>
            <th data-orderable="false">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StockTypeId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StockTypeName)
                </td>
                <td class="tableActions">
                    <a class="btn btn-sm btn-primary" asp-action="UpdateStockType" asp-route-id="@item.StockTypeId">Edit</a>
                    <a class="btn btn-sm btn-danger" onclick="DeleteStockTypeWithSwal('@item.StockTypeId')">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>