﻿@model Corbet16112022.Mvc.Models.UpdateStockTypeModel

@{
    ViewData["Title"] = "UpdateStockType";
}
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<h4>Update StockType</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @Html.Raw(ViewBag.stockTypeUpdateAlert)
        <form asp-action="UpdateStockType">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Type</label>
                <input asp-for="StockTypeName" class="form-control" />
                <span asp-validation-for="StockTypeName" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a class="btn btn-warning" asp-controller="StockType" asp-action="GetAllStockTypes">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }