﻿@model IEnumerable<WebApplication1.Models.Docs>

@{
    ViewData["Title"] = "AllDocs";
}
<style>
    .card-header{
        display:flex;
        justify-content:space-between;
        align-items: center;
    }
</style>
<h1>AllDocs</h1>

<p>
    <a asp-action="CreateDocs">Create New</a>
</p>
<table class="table">
    
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    <div class="card">
                        <div class="card-header">
                            <div>
                                @Html.DisplayFor(modelItem => item.DocCode)
                            </div>
                            <div>
                                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Special title treatment</h5>
                            <p class="card-text">
                                With supporting text below as a natural lead-in to additional content.
                                (@if (item.fileExtensions is not null)
                                {
                                    <span>@String.Join(",", item.fileExtensions)</span>
                                })
                            </p>
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Edit</a>
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Details</a>
                            <a asp-action="GetDocumentZip" asp-route-id="@item.Id" class="btn btn-dark">Download Zip</a>

                        </div>
                    </div>
            </td>
        </tr>
}
    </tbody>

</table>