﻿@model WebApplication1.Models.Docs

@{
    ViewData["Title"] = "CreateDocs";
}

<h1>CreateDocs</h1>

<h4>Docs</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateDocs" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DocCode" class="control-label"></label>
                <input asp-for="DocCode" class="form-control" />
                <span asp-validation-for="DocCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Documents" class="control-label"></label>
                <input asp-for="Documents" type="file" class="form-control" multiple/>
                <span asp-validation-for="Documents" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
