﻿@model IEnumerable<GeneratePDF2.Models.Product>

@{
    double total = 0;
    double quantityPlusPrice = 0;
}

<p>Price in rupees per kg</p>
<table class="table" border="1" style="border-spacing:0px;">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
            </tr>
            quantityPlusPrice = (item.Quantity * item.Price);
            total += quantityPlusPrice;
        }
    </tbody>
</table>
<p>Total:: @total</p>

@*<a class="btn btn-sm btn-primary" id="btnAccept">Accept</a>


<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script>
    $("#btnAccept").click(function () {
        console.log("btn accepted clicked!")
        //var htmlData = $("#content").html();
        //htmlData = htmlData.replace(/</g, "strtTag").replace(/>/g, "EngTag");
        //window.location = window.location.origin + "/Invoice/GeneratePdfAndSendOnMail?html=" + htmlData;
        Swal.fire(
            'Good job!',
            'You clicked the button!',
            'success'
        );
    });
</script>*@