﻿@model IEnumerable<GeneratePDF2.Models.Product>


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <title>Home-Index</title>

</head>
<h5>Home - Index</h5>


