﻿
@{
    ViewData["Title"] = "Main";
}

<h1>Main</h1>

<button id="giveOrder">Give Order</button>
<div class="demo">

</div>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
@Html.Raw(ViewBag.emailSentToSupplierStatusMessage)
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script type="text/javascript">
    $("#giveOrder").click(function () {
        $.ajax({
            url: "@Url.Action("MainPV", "Home")",
            type: "post",
            success: function (data) {
                console.log(data);
                $(".demo").html(data);
                Swal.fire({
                    title: 'Confirm to give the order?',
                    text: "If you hit yes, order will be placed successfully.",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Give Order'
                }).then((result) => {
                    if (result.isConfirmed) {
                        var htmlData = data;
                        htmlData = htmlData.replace(/</g, "StartTag").replace(/>/g, "EngTag");
                        window.location = window.location.origin + "/Home/GiveOrderAndSendMail?html=" + htmlData;
                    }
                });
            },
            error: function () {
                alert("Fails!");
            }
        });
        //var htmlData = $("#content").html();
        //htmlData = htmlData.replace(/</g, "strtTag").replace(/>/g, "EngTag");
        //window.location = window.location.origin + "/Invoice/GeneratePdfAndSendOnMail?html=" + htmlData;
    });
</script>