<div class="card m-auto" style="width: 25rem;">
    <img src="https://images7.alphacoders.com/407/thumb-1920-407349.jpg" class="card-img-top" alt="...">
    <p class="text-center mt-md-3 pizzaName">{{pizza.name}}</p>
    <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <table>
            <tbody>
                <tr>
                    <td>Name</td>
                    <td><input type="text" [value]="pizza.name" placeholder="Name" name="pizzaName" disabled></td>
                </tr>
                <tr>
                    <td>Price</td>
                    <td><input type="number" [value]="pizza.price" [(ngModel)]="pizzaPrice" placeholder="Price" name="pizzaPrice"></td>
                </tr>
                <tr>
                    <td>Category</td>
                    <td><input type="text" [value]="pizza.category" [(ngModel)]="pizzaCategory" placeholder="Category" name="pizzaCategory"></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <!-- <td><input type="number" [value]="cart?.quantity" min="1" [(ngModel)]="mQuantity" placeholder="quantity" name="quantity"></td> -->
                    <td colspan="2"><button (click)="EditPizza()">Update Changes</button></td>
                </tr>
            </tfoot>
        </table>
    </div>
  </div>

<br>
<div class="gotoMenu">
    <a href="/menu">Back to List</a>
</div>

