<div class="card m-auto" style="width: 25rem;">
    <img src="https://images7.alphacoders.com/407/thumb-1920-407349.jpg" class="card-img-top" alt="...">
    <p class="text-center mt-md-3 pizzaName">{{cartPizza.name}}</p>
    <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <table>
            <tbody>
                <tr>
                    <td>CId</td>
                    <td>{{cartPizza.id}}</td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>{{cartPizza.name}}</td>
                </tr>
                <tr>
                    <td>Price</td>
                    <td>{{cartPizza.price}}</td>
                </tr>
                <tr>
                    <td>Category</td>
                    <td>{{cartPizza.category}}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td><input type="number" [value]="cartPizza.quantity" min="1" [(ngModel)]="mQuantity" placeholder="quantity" name="quantity"></td>
                    <td><button (click)="EditQuantityUpdatePriceQuantityOfCartPizza()">Update Changes</button></td>
                </tr>
            </tfoot>
        </table>
    </div>
  </div>

<br>
<div class="gotoViewCart">
    <a href="/menu/view-cart">Back to List</a>
</div>
