.RegForm table {
    margin: auto;
    border: 1px solid #8d7906;
}

.RegForm td
{
    padding: 8px;
}

.RegForm input {
    height: 40px;
    width: 227px;
    font-size: 16px;
}

form.RegForm {
    margin: 5px 0px 5px 0px;
}

.btnRegister{
    background-color: #8d7906;
    color: white;
    padding: 7px;
    border-radius: 7px;
    border: 1px solid #8d7906;
    font-size: 16px;
}
.btnRegister:hover{
    background-color: white;
    color: #8d7906;
    transition: 0.2s;
    cursor: pointer;
}