<form class="RegForm" >
    <table>
        <tr>
            <td><label for="uname">Name</label></td>
            <td><input [(ngModel)]="user.name" id="uname" type="text" minlength="3" maxlength="16" placeholder="Name" name="uname"/></td>
        </tr>
        <tr>
            <td><label for="mail">Email</label></td>
            <td><input [(ngModel)]="user.email" id="mail" type="email" placeholder="Email Address" name="mail"/></td>
        </tr>
        <tr>
            <td><label for="pwd">Password</label></td>
            <td><input [(ngModel)]="user.password" id="pwd" type="password" placeholder="Password" name="pwd"/></td>
        </tr>
        <tr>
            <td><label for="cpwd">Confirm Password</label></td>
            <td><input [(ngModel)]="user.confirmPassword" id="cpwd" type="password" placeholder="Confirm Password" name="cpwd"/></td>
        </tr>
        <tr>
            <td><label for="address">Address</label></td>
            <td><input [(ngModel)]="user.address" id="address" type="text" placeholder="Your Address" name="address"/></td>
        </tr>
        <tr>
            <td colspan="2"><button (click)="RegisterUser()" type="submit" class="btnRegister">Register</button></td>
        </tr>
    </table>
</form>