﻿@model WebApplication1.Models.Product

@{
    ViewData["Title"] = "DeleteProduct";
}

<h1>DeleteProduct</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.price)
        </dt>
        <dd class = "col-sm-10">
            &#8377;@Html.DisplayFor(model => model.price)
        </dd>
    </dl>
    
    <form asp-action="DeleteProductById">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="AllProducts">Back to List</a>
    </form>
</div>
