<h3>View Users</h3><br>
<div class="cartContainer">
    <table class="userHolder">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Password</th>
            <th>Confirm Password</th>
            <th>Address</th>
            <th></th>
        </tr>
        <tr *ngFor="let item of userList">
            <td>{{item.id}}</td>
            <td>{{item.name}}</td>
            <td>{{item.email}}</td>
            <td>{{item.password}}</td>
            <td>{{item.confirmPassword}}</td>
            <td>{{item.address}}</td>
            <td>
                <button (click)="DeleteUser(item.email)">Delete</button>
            </td>
        </tr>

    </table>
</div>
<br>
<div class="gotoMenu">
    <a href="/menu">Back to List</a>
</div>