﻿@{
    ViewData["Title"] = "Home Page";
}

<div>
    <form method="post" asp-action="ImportExcel" enctype="multipart/form-data">
        <input type="file" name="theFile"/><br />
        <button type="submit">ImportExcel</button>
    </form>
</div>