﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<script>
    function uploadToBrowsersMemoryStatus() {
        var fileNode = $('#myFile')[0].files[0];
        console.log(fileNode);
    }

    function toBrowserStorage(operation) {
        $("form").trigger("reset");
    }

    function toDriveStorage(operation) {
        var fileNode = $('#myFile')[0].files[0];
        var formData = new FormData();
        formData.append('theFile', fileNode);

        console.log(fileNode);
        console.log(formData);
        $.ajax({
            url: "Filer/FileOperation?operation="+operation,
            type: "POST",
            data: formData,
            processData: false,
            contentType: false,
            success: function (data) {
                if (data == true && operation == "delete") {
                    console.log("File has been deleted from the drive/secondary storage.");
                }
                else if (data == true && operation == "add") {
                    console.log("File uploaded successfully to the drive/secondary storage.");
                }
                else {
                    console.error(data);
                    alert(data);
                }
            },
            //Error Handling
            error: function (err) {
                alert(err.statusText);
            }
        });

    }
</script>
<form>
    <table>
        <tr><td><input type="file" id="myFile" name="theFile" onchange="uploadToBrowsersMemoryStatus()"/></td></tr>
        <tr><td><input type="button" onclick="toDriveStorage('add')" value="Upload to Drive/Secondary Storage"></td></tr>
        <tr><td><input type="button" onclick="toDriveStorage('delete')" value="Delete from Drive/Secondary Storage"></td></tr>
        <tr><td><input type="button" onclick="toBrowserStorage('delete')" value="Delete from Browser Storage" /></td></tr>
        
    </table>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }