<form class="LoginForm">
    <table>
        <tr>
            <td><label for="mail">Email</label></td>
            <td><input [(ngModel)]="loginInfo.email" id="mail" type="email" placeholder="Email Address" name="mail"/></td>
        </tr>
        <tr>
            <td><label for="pwd">Password</label></td>
            <td><input [(ngModel)]="loginInfo.password" id="pwd" type="password" placeholder="Password" name="pwd"/></td>
        </tr>
        <tr>
            <td colspan="2"><button (click)="LoginUser()" type="submit" class="btnLogin">Login</button></td>
        </tr>
    </table>
</form>