﻿@model IEnumerable<MVC_WebAPP2.Models.UserViewModel>

@{
    ViewData["Title"] = "GetAllUsers";
}

<h1>GetAllUsers</h1>

<p>
    <a asp-action="RegisterUser">Register User</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                <a asp-action="EditUser" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="UserDetails" asp-route-id="@item.EmailAddress">Details</a> |
                    <a asp-action="DeleteUser" asp-route-id="@item.EmailAddress">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
