<div *ngIf="flagSignalForAdmin == true">
    <button routerLink="add-pizza">Add Pizza</button>
</div>
<div class="d-flex flex-wrap">
    <div class="card" style="width: 20rem;" *ngFor="let item of pizzaList">
        <img src="https://cdn.pixabay.com/photo/2017/11/23/16/57/pizza-2973200_960_720.jpg" class="card-img-top"
            alt="Pizza Image">
        <div class="card-body">
            <h5 class="card-title">{{item.name}}</h5>
        </div>
        <ul class="list-group list-group-flush customUL">
            <li class="list-group-item"><span>Price</span><span>{{item.price}} &#8377;</span></li>
            <li class="list-group-item"><span>Category</span><span>{{item.category}}</span></li>
        </ul><p hidden>{{flagSignalForAdmin}}</p>
        <div class="card-body" *ngIf="flagSignalForAdmin == true">
            <table class="btnSection">
                <tr>
                    <td><button class="card-link" (click)="GoToEditPizzaMethod(item.id)">Edit</button></td>
                    <td><button class="card-link" (click)="DeletePizza(item.name)">Delete</button></td>
                </tr>
            </table>
        </div>
        <div class="card-body" *ngIf="flagSignalForAdmin == false">
            <button class="card-link" (click)="AddPizzaToCart(item)">Add to Cart</button>
        </div>
    </div>
</div>

<div>
    <button routerLink="view-cart">View Cart</button>
</div>

<div *ngIf="flagSignalForAdmin == true">
    <button routerLink="../view-users">View Users</button>
</div>