.customUL li
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card {
    margin: 2.5px;
    border-radius: 0px;
}

table.btnSection {
    width: 100%;
    height: 100%;
}

.btnSection td {
    text-align: center;
}

button.card-link 
{
    width: -webkit-fill-available;
}