﻿@model ViewToPDF.Models.Invoice
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <title>Invoice @Model.InvoiceNo</title>

    <style>
        body {
            margin: 0px;
            font-family: 'Segoe UI', Arial;
        }

        .invoice-head {
            clear: both;
            display: block;
            padding: 10px;
            margin-bottom: 40px;
        }

        .invoice-title {
            background-color: navy;
            color: white;
            font-size: 20px;
            padding: 10px;
            width: 100%;
        }

        .invoice-to {
            float: left;
        }

        .invoice-details {
            float: right;
        }

        table {
            clear: both;
            border: 1px solid darkgray;
            border-collapse: collapse;
            margin: auto;
        }

        th {
            background-color: navy;
            color: white;
        }

        td, th {
            border: 1px solid darkgray;
            padding: 5px;
        }

        .numeric-cell {
            text-align: right;
        }

        .clearfix::after {
            content: "";
            clear: both;
            display: table;
        }
    </style>
</head>
<body>
    <div id="content">
        <div class="invoice-title">
            Invoice @Model.InvoiceNo
        </div>
        <div class="invoice-head clearfix">
            <div class="invoice-to">
                <strong>@Model.CustomerName</strong><br />
                @Model.CustomerBillingAddress
            </div>
            <div class="invoice-details">
                Invoice no: @Model.InvoiceNo<br />
                Date: @Model.InvoiceDate.ToShortDateString()<br />
                Due date: @Model.DueDate.ToShortDateString()
            </div>
        </div>
        <table>
            <tr>
                <th>Item</th>
                <th>Unit price</th>
                <th>Amount</th>
                <th>Net</th>
                <th>VAT (%)</th>
                <th>Total</th>
            </tr>
            @foreach (var line in Model.Lines)
            {
                <tr>
                    <td>@line.LineTitle</td>
                    <td class="numeric-cell">@line.UnitPrice.ToString("0.00") EUR</td>
                    <td class="numeric-cell">@line.Amount</td>
                    <td class="numeric-cell">@line.Net.ToString("0.00") EUR</td>
                    <td class="numeric-cell">@line.VatPercent%</td>
                    <td class="numeric-cell">@line.Total.ToString("0.00") EUR</td>
                </tr>
            }
            <tr>
                <td colspan="4"></td>
                <td><strong>Total:</strong></td>
                <td><strong>@Model.Total.ToString("0.00") EUR</strong></td>
            </tr>
        </table>
    </div>

</body>
</html>
@*<div id="editor"></div>
<div>
    <button class="btn btn-primary" id="btnGeneratePDF">Generate PDF</button>
</div>*@

<div class="demo">
    <button class="btn btn-primary" id="btnGeneratePDF">Generate PDF</button>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.js"></script>
<script src="https://code.jquery.com/jquery-1.12.3.min.js"></script>
@*<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/0.9.0rc1/jspdf.min.js"></script>*@
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.0.272/jspdf.debug.js"></script>
<script>
    //var doc = new jsPDF();
    //var specialElementHandlers = {
    //    '#editor': function (element, renderer) {
    //        return true;
    //    }
    //};
    $('#btnGeneratePDF').click(function () {
        let doc = new jsPDF('l', 'mm', 'a4');
        doc.addHTML(document.body, function () {
            doc.internal.scaleFactor = 10.75;
            doc.save("@Model.InvoiceNo" + " - InvoiceTemplate - " + "@Model.CustomerName" + ".pdf");
            //doc.save(`${@Model.InvoiceNo}-InvoiceTemplate-${@Model.CustomerName}.pdf`);
        });

        //html2canvas(document.body).then(canvas => {
        //    var imgWidth = 209;
        //    var pageHeigth = 295;
        //    var imgHeith = canvas.height * imgWidth / canvas.width;
        //    var heightLeft = imgHeith;

        //    const content = canvas.toDataURL('image/png');
        //    let pdf = new jsPDF('p', 'mm', 'a4');
        //    var posiiton = 0;
        //    pdf.addImage(content, 'PNG', 0, posiiton, imgWidth, imgHeith);
        //    pdf.save("@Model.InvoiceNo" + "-InvoiceTemplate-" + "@Model.CustomerName" + ".pdf");
        // });
    });

    //$('#btnGeneratePDF').click(function () {
    //    doc.addHTML($('#content').html(), 15, 15, {
    //        'width': 170,
    //        'elementHandlers': specialElementHandlers
    //    });
    //    doc.save('sample-file.pdf');
    //});
</script>